#
# Copyright 2014, Wink Saville
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.

# This file defines the Kconfig menu structure.

mainmenu "Project Configuration"

config COMMON_PATH
    string
    option env="COMMON_PATH"

menu "seL4 Applications"
    source "apps/test-newlibs/Kconfig"
    source "apps/min-app/Kconfig"
    source "apps/hw/Kconfig"
    source "apps/helloworld/Kconfig"
    source "apps/assert/Kconfig"
    source "apps/myassert/Kconfig"
    source "apps/bootinfo/Kconfig"
endmenu

menu "seL4 Kernel"
    source "kernel/Kconfig"
endmenu

menu "seL4 Libraries"
    source "libs/libsel4/Kconfig"
    source "libs/libsel4_putchar/Kconfig"
    source "libs/libsel4_printf/Kconfig"
    source "libs/libsel4_assert/Kconfig"
    source "libs/libsel4_benchmark/Kconfig"
endmenu

source "$COMMON_PATH/Kconfig"
